{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <p>
    <div>
        <h2>章节信息</h2>
        <ul class=chapters>
            <li><span>名称：</span><span>{{ chapter.chapterName | safe }}</span></li>
            <li><span>文件：</span><span><a href="{{ url_for('download', chapterId = chapter.chapterId) }}">{{ chapter.chapterFileName | safe }}</a></span></li>
        </ul>
        <div style='color:red'>(!注意，重新上传会覆盖旧文件，上传的文件名里不能包含中文)</div>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" /><br />
            <input type="hidden" name="chapterName" value="{{ chapter.chapterName | safe }}">
            <input type="hidden" name="chapterId" value="{{ chapter.chapterId | safe }}">
            <input type="hidden" name="contentId" value="{{ chapter.contentId | safe }}">
            <input type="submit" value="上传" />
        </form>
    </div>
    </p>
    <a href = "{{ url_for('deleteChapter', id = chapter.chapterId)}}"><h2>删除</h2></a>
  {% endif %}
{% endblock %}
