{% extends "layout.html" %}
{% block body %}
<h2><a href="{{ url_for('showCollections') }} ">回到专题列表</a></h2>
  {% if session.logged_in %}
    <p>
    <div>
        <h2>专题信息</h2>
        <ul class=chapters>
            <li><span>名称：</span><span>{{ collection.name | safe }}</span></li>
        </ul>
    </div>
    </p>
    <h2>内容列表</h2>
    <div>
  {% for content in collection.contents %}
      <ul>
          <li><a href="{{ url_for('showContent', id = content.contentId) }}">{{ content.name | safe }}</a></li>
      </ul>
  {% endfor %}
      <h2><a href="{{url_for('showCotentsUnderCollection', id = collection.collectionId)}}">点击编辑</a></h2>
    </div>

    <a href = "{{ url_for('deleteCollection', id = collection.collectionId)}}"><h2>删除</h2></a>

  {% endif %}
{% endblock %}
