{% extends "layout.html" %}
{% block body %}
<h2><a href="{{ url_for('showContents') }} ">回到书籍列表</a></h2>
  {% if session.logged_in %}
    <p>
    <div>
        <h2>内容信息</h2>
        <ul class=chapters>
            <li><span>名称：</span><span>{{ content.name | safe }}</span></li>
            <li><span>作者：</span><span>{{ content.author | safe }}</span></li>
            <li><span>简介：</span><span>{{ content.desc | safe }}</span></li>
            <li><span>长度：</span><span>{{ content.length | safe }}</span></li>
        </ul>
    </div>
    </p>
    <h2>相关书籍</h2>
    <div>
        <a href="{{ url_for('showRelateContent', id = content.contentId) }} ">{{content.relateContentsDesc | safe}}（点击编辑）</a>
    </div>
    <h2>添加章节</h2>
    <form action="{{ url_for('addChapter') }}" method=post class=add-entry>
      <dl>
        <dt>chapterName:
        <dd><input type=text size=30 name=chapterName>
        <dt>chapterStatus:
        <dd><input type=text size=30 name=chapterStatus>
        <dt>contentId:
        <dd><input type=text size=30 name=contentId value="{{ content.contentId }}">
        <dd><input type=submit value=ADD>
      </dl>
    </form>
  {% endif %}
  <ul class=chapters>
  {% for chapter in chapters %}
    <li><h2><a href = "{{ url_for('showChapter', id = chapter.chapterId) }} ">{{ chapter.chapterName | safe }}</h2></li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
