<!doctype html>
<html>
<title>{{title|safe}}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
<body>
<div class='navigationbar'>
    <a href="{{ url_for('showCollections') }}">专题</a>
    <a href="{{ url_for('showContents', type = 0) }}">书籍</a>
    <a href="{{ url_for('showContents', type = 1) }}">音乐</a>
    <a href="{{ url_for('showContents', type = 2) }}">讲座</a>
    <a href="{{ url_for('showPictures') }}">图片空间</a>
</div>
<div class=page>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message | safe }}<div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
<div class='footer'>有声书管理后台</div>
</html>
