{% extends "layout.html" %}
{% block body %}
    <h2>Register</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('register') }}" method=post>
        <dl>
            <dt>UserName:
            <dd><input type=text name=username>
            <dt>Password:
            <dd><input type=text name=password>
            <dt>nickName:
            <dd><input type=text name=nickName>
            <dt>phoneNumber:
            <dd><input type=text name=phoneNumber>
            <dt>email:
            <dd><input type=text name=email>
            <dt>birthDay:
            <dd><input type=text name=birthDay>
            <dd><input type=submit value=Register>
        </dl>
    </form>
{% endblock %}
