{% extends "layout.html" %}
{% block body %}
    <h1>书籍列表</h1>
  {% if session.logged_in %}
    <h2>添加书籍</h2>
    <form action="{{ url_for('addContent') }}" method=post class=add-entry>
      <dl>
        <dt>书籍名:
        <dd><input type=text size=30 name=fileName>
        <dt>简介:
        <dd><textarea name=description rows=5 cols=40></textarea>
        <dt>出版社:
        <dd><input type=text size=30 name=publish>
        <dt>作者:
        <dd><input type=text size=30 name=author>
        <dt>时长:
        <dd><input type=text size=30 name=length>
        <dd><input type=submit value=ADD>
      </dl>
    </form>
  {% endif %}
  <h2>书籍列表</h2>
  <ul class=entries>
  {% for entry in entries %}
    <li><h2><a href="{{ url_for('showContent', id = entry.contentId) }} ">{{ entry.name }}</a></h2>
        {{ entry.desc|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
